/node_modules
node_modules
/.idea
.idea
.env

/psytonik-dev/node_modules
psytonik-dev/node_modules
/psytonik-dev/.vscode
psytonik-dev/.vscode
/psytonik-dev/.gitignore
psytonik-dev/.gitignore

# System Files
.DS_Store
Thumbs.db



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
