.d-item {
  display:flex;
  text-align: center;
  color: var(--surface-0);
  justify-content: space-between;

  .pi {
    font-size: 3em;
    margin-bottom: 15px;
  }
  .name{
    font-size: 1.4em;

  }
  .number {
    margin-top: 50px;
    font-size: 2em;
  }
}
.d-orders {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.d-products {
  background-color: #FFCC70;
  background-image: linear-gradient(43deg, #FFCC70 0%, #C850C0 46%, #4158D0 100%);
}
.d-users {
  background-color: #C850C0;
  background-image: linear-gradient(43deg, #C850C0 0%, #FFCC70 47%, #4158D0 86%);
}
.d-sales {
  background-color: #C850C0;
  background-image: linear-gradient(43deg, #C850C0 0%, #4158D0 50%, #FFCC70 100%);

}

